{% extends "base.html"%}

{% load i18n static %}

{% load static %}

{% block content %}


    {%for visualizer in visualizers%}
    <div class="navigator">
        <div class="info">
            </div class="row">    
                <h2>{{visualizer.name}}</h2>
                {% if visualizer.end_date == None  %}
                    <p style="color: red;">{% trans 'Ver datos en directo' %}</p>
                {% endif %}
                <a class="button"  href='/visualizer/{{visualizer.id}}'>{% trans 'Accesso'%}</a>       
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}