{% extends "base.html" %}

{% load i18n static %}

{% load static %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
 
        .pies {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
        }
    
        .pie {
          text-align: center;
          border: 1px solid #ccc;
          margin: 10px;
        }
    
        @media (max-width: 768px) {
          .pies {
            flex-direction: column;
            text-align: center;
          }
    
          .pie {
            width: 80%;
          }
        }
      </style>
{% endblock %}

{% block content %}
<div id="app-visualizer">
  <!-- Navbar -->
  <div class="navigator">
      <h1>[[ voting.id ]] - [[ voting.name ]]</h1>
      <h2 v-if="!voting.start_date">Votación no comenzada</h2>
      <div v-else-if="!voting.end_date">
        <h2>Votación en curso</h2>
        <div class="pies">
          <div id="participationChart"></div>
  
          <div id="adscriptionCentersChart"></div>
        </div>
      </div>
      <div v-else>
        <h2 class="heading">Resultados:</h2>
        <div class="pies">
          <div id="participationChart"></div>
  
          <div id="adscriptionCentersChart"></div>
        </div>
        <div v-for="question in voting.questions" :key="question.id">
          <h2 class="heading">Resultados de la pregunta: [[ question.desc ]]</h2>
          <h2 v-if="question.type == 'YESNO'">Votación de tipo SI/NO</h2>

          <h3 v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'">Escaños: [[ voting.seats ]] </h3>

          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>Opción</th>
                      <th v-if="voting.method != 'DHONDT' && voting.method != 'WEBSTER'">Puntuación</th>
                      <th>Votos</th>
                      <th v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'">Escaños</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="opt in findPostprocData(question.id)" :key="opt.number">
                      <th>[[opt.option]]</th>
                      <td v-if="voting.method != 'DHONDT' && voting.method != 'WEBSTER'">[[ opt.postproc ]]</td>
                      <td class="text-muted">[[ opt.votes ]]</td>
                      <td v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'">[[ opt.deputies ]]</td>
                  </tr>
              </tbody>
          </table>
          <div v-if="voting.method == 'IDENTITY'" >
            <div :id="'container-' + question.id"></div>
          </div>
          <div v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'">
            <div :id="'container2-' + question.id"></div>
          </div>
        </div>
      </div>

  </div>
        
  <component :is="'script'">
      var voting = {{voting|safe}};

      if (voting.method != 'DHONDT' && voting.method != 'WEBSTER') {

        voting.questions.forEach(question => {
          const questionData = voting.postproc.find(item => item.question_id === question.id);
  
          const data = questionData.postproc.map(x => [x.option, x.votes]);

          if (question.type != 'YESNO') {
            Highcharts.chart('container-' + question.id, {
              chart: {
                  type: 'column'
              },
              title: {
                  text: "",
              },
              subtitle: {
                  text:""
              },
              xAxis: {
                  categories: [...new Set(data.map(x => x[0]))]
              },
              yAxis: {
                  allowDecimals: false,
                  min: 0,
                  title: {
                      text: 'Votos'
                  }
              },
              plotOptions: {
                  column: {
                      pointPadding: 0.2,
                      borderWidth: 0
                  },
              },
              series: [{ colorByPoint: true, data, name: "", showInLegend: false }]
            });
          }
        });
      }
  </component>

  <component :is="'script'">
      var voting = {{voting|safe}};

      if (voting.method == 'DHONDT' || voting.method == 'WEBSTER') {
        
        voting.questions.forEach(question => {
          const questionData = voting.postproc.find(item => item.question_id === question.id);

          const chartData = questionData.postproc.map(opt => ({
              name: opt.option,
              y: opt.deputies ? Number(opt.deputies) : 0,
            }));
          
          Highcharts.chart('container2-' + question.id, {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
              },
              title: {
                text: 'Reparto de escaños',
                align: 'center',
                verticalAlign: 'middle',
                y: 60
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              accessibility: {
                point: {
                  valueSuffix: '%'
                }
              },
              plotOptions: {
                pie: {
                  dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                      fontWeight: 'bold',
                      color: 'white'
                    }
                  },
                  startAngle: -90,
                  endAngle: 90,
                  center: ['50%', '75%'],
                  size: '110%'
                }
              },
              series: [{
                type: 'pie',
                name: 'Reparto de escaños',
                innerSize: '50%',
                data: chartData,
              }]
            })
        });
      }
  </component>

  <component :is="'script'">
    var voting = {{voting|safe}};

    if (voting.method != 'DHONDT' && voting.method != 'WEBSTER') {
      voting.questions.forEach(question => {
        const questionData = voting.postproc.find(item => item.question_id === question.id);

        const data = questionData.postproc.map(x => [x.option, x.votes]);

        if (question.type == 'YESNO') {
          Highcharts.chart('container-' + question.id, {
            chart: {
                type: 'pie'
            },
            title: {
                text: "",
            },
            subtitle: {
                text:""
            },
            xAxis: {
                categories: [...new Set(data.map(x => x[0]))]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Votos'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                }
            },
            series: [{ colorByPoint: true, data, name: "", showInLegend: false }]
          });
        }
      });
    }
  </component>
  
  <div class="center">
      <button class="btn btn-primary mt-3" v-on:click="comeBack">
          {% trans "Volver" %}
      </button>
  </div>

</div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            },

            methods: {
              findPostprocData(questionId) {
                  let questionData = this.voting.postproc.find(item => item.question_id === questionId);
                  return questionData ? questionData.postproc : [];
              },
              comeBack() {
                  const baseUrl = `${window.location.protocol}//${window.location.host}`;
                  window.location.href = baseUrl;
              }
            }
        }).mount('#app-visualizer')
        
        document.addEventListener('DOMContentLoaded', function () {
            var totalVotes = {{ total_votes | safe }};
            var noVotes = {{ no_votes | safe }};
            var dataVoting = [
                { name: 'Votantes', y: totalVotes },
                { name: 'No Votantes', y: noVotes }
            ];

            var optionsVoting = {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Participación en Votación'
                },
                series: [{
                    name: 'Cantidad',
                    data: dataVoting
                }]
            };

            Highcharts.chart('participationChart', optionsVoting);

            var censusData = {{ census | safe }};
            var dataCenters = censusData.map(function(item) {
                return {
                    name: item.name,
                    y: item.value
                };
            });

            var optionsCenters = {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'División por Centros de Adscripción'
                },
                series: [{
                    name: 'Cantidad',
                    data: dataCenters
                }]
            };

            Highcharts.chart('adscriptionCentersChart', optionsCenters);
        });
        
    </script>


{% endblock %}

