{% extends "base.html" %}

{% load i18n static %}

{% load static %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <div class="navigator">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <h3 v-if="voting.type == 'DHONDT' || voting.type == 'WEBSTER'">Escaños: [[voting.seats]] </h3>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th v-if="voting.type != 'DHONDT' && voting.type != 'WEBSTER'">Puntuación</th>
                            <th>Votos</th>
                            <th v-if="voting.type == 'DHONDT' || voting.type == 'WEBSTER'">Escaños</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td v-if="voting.type != 'DHONDT' && voting.type != 'WEBSTER'">[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                            <td v-if="voting.type == 'DHONDT'">[[opt.dhondt]]</td>
                            <td v-if="voting.type == 'WEBSTER'">[[opt.webster]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="voting.type == 'IDENTITY'" >
                <div id="container"></div>
            </div>
            <div v-if="voting.type == 'DHONDT'">
                <div id="container2"></div>
            </div>
            <div v-if="voting.type == 'WEBSTER'">
                <div id="container3"></div>
            </div>
        </div>
        
        <component :is="'script'">
            var voting = {{voting|safe}};
            const data = voting.postproc.map(x => [x.option, x.votes]);

            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '[[ voting.name ]]',
                },
                subtitle: {
                    text:""
                },
                xAxis: {
                    categories: [...new Set(data.map(x => x[0]))]
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: 'Votos'
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    },
                },
                series: [{ colorByPoint: true, data, name: "[[ voting.name ]]", showInLegend: false }]
            });
        </component>

        <component :is="'script'">
            const chartData = voting.postproc.map(opt => ({
                name: opt.option,
                y: opt.dhondt,  
              }));
            Highcharts.chart('container2', {
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false
                },
                title: {
                  text: 'Reparto de escaños',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: 60
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                  point: {
                    valueSuffix: '%'
                  }
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'white'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                  }
                },
                series: [{
                  type: 'pie',
                  name: 'Reparto de escaños',
                  innerSize: '50%',
                  data: chartData,
                }]
              })
        </component>
        <component :is="'script'">
            const chartData2 = voting.postproc.map(opt => ({
                name: opt.option,
                y: opt.webster ? Number(opt.webster) : 0,
              }));
            Highcharts.chart('container3', {
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false
                },
                title: {
                  text: 'Reparto de escaños de webster',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: -120
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                  point: {
                    valueSuffix: '%'
                  }
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'white'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                  }
                },
                series: [{
                  type: 'pie',
                  name: 'Reparto de escaños de webster',
                  innerSize: '50%',
                  data: chartData2,
                }]
              })
        </component>


        <div class="center">
            <button class="btn btn-primary mt-3" v-on:click="comeBack">
                {% trans "Volver" %}
            </button>
        </div>

    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            },

            methods: {
                comeBack() {
                    const baseUrl = `${window.location.protocol}//${window.location.host}`;
                    window.location.href = baseUrl;
                }
            }
        }).mount('#app-visualizer')

        
    </script>


{% endblock %}

