{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "visualizer/style.css" %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static "visualizer/modal.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">

        <h1 class="voting-title">[[ voting.id ]] - [[ voting.name ]]</h1>
        
        <button class="open-modal-button" id="openModalButton">Ver descripción</button>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModalButton">&times;</span>
                <p v-if="voting.desc">[[ voting.desc ]]</p>
                <p v-else>No hay descripción.</p>
            </div>
        </div>

        <div v-if="!voting.start_date || !voting.end_date" class="center-box">
            <p v-if="!voting.start_date">Votación no comenzada</p>
            <p v-else="!voting.end_date">Votación en curso</p>
        </div>
        <div v-if="!voting.start_date || !voting.end_date">
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
        
        <div v-if="voting.start_date && voting.end_date">
            <div class="finished-box">
                <p>Votación finalizada</p>
            </div>
            <h2 class="results-text">Resultados de la votación:</h2>
            <div>
                <h3 v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'" class="seats-text">- Escaños: [[voting.seats]] -</h3>

                <div class="mobile-table">
                    <div v-for="opt in voting.postproc" :key="opt.number" class="mobile-table-row">
                      <div class="option-text">[[opt.option]]</div>
                      <div v-if="voting.method != 'DHONDT' && voting.method != 'WEBSTER'" class="table-text">Puntuación: [[opt.postproc]]</div>
                      <div class="table-text-muted">Votos: [[opt.votes]]</div>
                      <div v-if="voting.method == 'DHONDT' || voting.method == 'WEBSTER'" class="table-text">Escaños: [[opt.deputies]]</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        var voting = {{voting|safe}};
        const { createApp } = Vue
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting
                }
            },

            methods: {
                comeBack() {
                    const baseUrl = `${window.location.protocol}//${window.location.host}`;
                    window.location.href = baseUrl;
                }
            }
        }).mount('#app-visualizer')

        
    </script>

    
</body>
{% endblock %}