{% extends "base.html" %}

{% load i18n static %}

{% load static %}
{% block extrahead %}
<link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
<script>
    function go_to_route(url, id){
        // La función que se ejecutará al hacer clic en el botón

        if (url != '/admin/' && url != '/users/register/' && url != '/admin/voting/voting/upload-csv/' && url != '/users/edit-profile/' && url != '/users/login/' && url != '/users/logout/') {
            let inputValue = document.getElementById(id).value;
            if(inputValue == null || inputValue == ""){
                alert("Por favor, introduzca un valor válido");
            } else {
                window.location.href = url + inputValue;
            }
        } else {
            console.log(url);
            window.location.href = url;
            
        }
    }

    function importar() {
        var url = "./admin/voting/voting/upload-csv/";

        window.location.href = url;
    }
</script>
{% endblock extrahead %}



{% block content %}

<h2 class="subtitle-mobile">{% trans 'DECIDE, el sistema de votaciones por decide-part-chiquito' %}</h2>

<div class="subtitle-line-mobile"></div>

<p class="access-text-mobile">{% trans '- Acceso al sistema -' %}</p>

<div class="contents-mobile">

    <div class="card-mobile">
        <label for="admin" class="label-mobile">admin</label>
        <button class="button-mobile" onclick="go_to_route('/admin/')">{% trans 'Acceder' %}</button>
    </div>

    {% if not user.is_authenticated %}
        <div class="card-mobile">
            <label for="login" class="label-mobile">{% trans 'Iniciar sesión' %}</label>
            <button class="button-mobile" onclick="go_to_route('/users/login/')">{% trans 'Acceder' %}</button>
        </div>
    {% else %}
        <div class="card-mobile">
            <label for="logout" class="label-mobile">{% trans 'Cerrar sesión' %}</label>
            <button class="button-mobile" onclick="go_to_route('/users/logout/')">{% trans 'Acceder' %}</button>
        </div>
    {% endif %}
    
    <div class="card-mobile">
        <label for="register" class="label-mobile">register</label>
        <button class="button-mobile" onclick="go_to_route('/users/register/')">{% trans 'Acceder' %}</button>
    </div>

    {% if user.is_authenticated and not user.is_superuser %}
        <div class="card-mobile">
            <label for="edit-profile" class="label-mobile">{% trans 'edit profile' %}</label>
            <button class="button-mobile" onclick="go_to_route('/users/edit-profile/')">{% trans 'Acceder' %}</button>
        </div>
    {% endif %}
    
    <div class="card-mobile">
        <label for="booth" class="label-mobile">{% trans 'Cabina' %}</label>
        <div class="select-mobile">
            <select id="booth" name="booth">
                <option value="" selected>{% trans 'Elige' %}</option>
                {% for voting in voting_enabled %}
                <option value="{{voting.id}}">{{voting.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button-mobile" onclick="go_to_route('/booth/', 'booth')">{% trans 'Acceder' %}</button>
    </div>
    
    <div class="card-mobile">
        <label for="visualizer" class="label-mobile">{% trans 'Resultados'%}</label>
        <div class="select-mobile">
            <select id="visualizer" name="visualizer">
                <option value="" selected>{% trans 'Elige' %}</option>
                {% for voting in voting_finished %}
                <option value="{{voting.id}}">{{voting.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button-mobile" onclick="go_to_route('/visualizer/', 'visualizer')">{% trans 'Acceder' %}</button>
    </div>

    <div class="card-mobile">
        <label for="census" class="label-mobile">{% trans 'census'%}</label>
        <button class="button-mobile" onclick="go_to_route('/admin/voting/voting/upload-csv/')">{% trans 'Importar' %}</button>
    </div>

    <div class="card-mobile">
        <label for="ticket" class="label-mobile">Ticket</label>
        <button class="button-mobile" onclick="go_to_route('/ticket/add-ticket/')">{% trans 'Create' %}</button>
    </div>

    <div class="subtitle-line-mobile"></div>

    <p class="access-text-mobile">{% trans '- Puntos de acceso a través de URL -' %}</p>

    <div class="urls-list-mobile">
    <ul class="points-mobile">
        {% for url in url_patterns %}
            {% if url != ""%}
                <li><label class="points-label-mobile">{{ url }}</label></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

</div>




{% endblock content %}

