{% extends "base.html" %}

{% load i18n static %}

{% load static %}
{% block extrahead %}
<link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
<script>
    function go_to_route(url, id){
        // La función que se ejecutará al hacer clic en el botón

        if (url != '/admin/' && url != '/users/register/' && url != '/mailer/' && url != '/admin/voting/voting/upload-csv/') {
            let inputValue = document.getElementById(id).value;
            if(inputValue == null || inputValue == ""){
                alert("Por favor, introduzca un valor válido");
            } else {
                window.location.href = url + inputValue;
            }
        } else {
            console.log(url);
            window.location.href = url;
            
        }
    }

    function importar() {
        var url = "./admin/voting/voting/upload-csv/";

        window.location.href = url;
    }
</script>
{% endblock extrahead %}



{% block content %}

<h2 class="subtitle-mobile">DECIDE, el sistema de votaciones por decide-part-chiquito</h2>

<div class="subtitle-line-mobile"></div>

<p class="access-text-mobile">- Acceso al sistema -</p>

<div class="contents-mobile">

    <div class="card-mobile">
        <label for="admin" class="label-mobile">admin</label>
        <button class="button-mobile" onclick="go_to_route('/admin/')">Acceder</button>
    </div>
    
    <div class="card-mobile">
        <label for="register" class="label-mobile">register</label>
        <button class="button-mobile" onclick="go_to_route('/users/register/')">Acceder</button>
    </div>

    <div class="card-mobile">
        <label for="mailer" class="label-mobile">send email</label>
        <button class="button-mobile" onclick="go_to_route('/mailer/')">Acceder</button>
    </div>
    
    <div class="card-mobile">
        <label for="booth" class="label-mobile">booth</label>
        <div class="select-mobile">
            <select id="booth" name="booth">
                <option value="" selected>Elige</option>
                {% for voting in voting_enabled %}
                <option value="{{voting.id}}">{{voting.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button-mobile" onclick="go_to_route('/booth/', 'booth')">Acceder</button>
    </div>
    
    <div class="card-mobile">
        <label for="visualizer" class="label-mobile">visualizer</label>
        <div class="select-mobile">
            <select id="visualizer" name="visualizer">
                <option value="" selected>Elige</option>
                {% for voting in voting_finished %}
                <option value="{{voting.id}}">{{voting.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button-mobile" onclick="go_to_route('/visualizer/', 'visualizer')">Acceder</button>
    </div>

    <div class="card-mobile">
        <label for="census" class="label-mobile">census</label>
        <button class="button-mobile" onclick="go_to_route('/admin/voting/voting/upload-csv/')">Importar</button>
    </div>

    <div class="subtitle-line-mobile"></div>

    <p class="access-text-mobile">- Puntos de acceso a través de URL -</p>

    <div class="urls-list-mobile">
    <ul class="points-mobile">
        {% for url in url_patterns %}
            {% if url != ""%}
                <li><label class="points-label-mobile">{{ url }}</label></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

</div>




{% endblock content %}

