<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Nueva Contraseña</title>
</head>

<body>
    <h1>{% trans 'Solicitud de Nueva Contraseña' %}</h1>
    <p>{% trans 'Hola' %} {{ username }},</p>
    <p>{% trans 'Recibes este correo porque has solicitado restablecer tu contraseña en nuestro sitio. Haz clic en el siguiente enlace para cambiar tu contraseña:' %}</p>
    <p><a href="{{ new_password_url }}">{% trans 'Cambiar Contraseña' %}</a></p>
    <p>{% trans 'Si no has solicitado este restablecimiento de contraseña, puedes ignorar este correo electrónico y tu contraseña permanecerá sin cambios.' %}</p>
    <p>{% trans 'Gracias,' %}</p>
    <p>{% trans 'El equipo de Decide' %}</p>
</body>

</html>
