{% extends 'base.html' %}
{% load i18n static %}

{% load static %}
{% block content %}
    <h1 class="text-center mt-5">{% trans 'Error de verificación' %}</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">{% trans 'Error de solicitud de nueva contraseña' %}</h2>
                    <p class="card-text text-center">{% trans 'Ha ocurrido un error al solicitar la nueva contraseña. Por favor, intenta nuevamente más tarde.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}