{% extends "base.html" %}

{% load i18n static %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href='{% static "users/style.css" %}' />
{% endblock extrahead %}

{% block content %}

    <div class="navigator">

        {% if not user.is_authenticated %}

            <h3 class="edit-error">{{ error }}</h3>

            <h2 class="edit-profile-title">Editar datos de usuario</h2>
            <a href="/users/login/" class="btn btn-primary">Iniciar sesión</a>

        {% elif user.is_superuser %}
            
            <h2 class="edit-profile-title">No puedes acceder a la edición de perfil de usuario siendo administrador.</h2>

        {% else %}

            <h2 class="edit-profile-title">Editar datos de usuario</h2>
            <form method="post" action="/users/edit-profile/" class="edit-form">
                {% csrf_token %}
                <div class="edit-form-input-container">
                    <label for="username" class="edit-label">Nombre de usuario</label>
                    <input type="text" name="username" value="{{ user.username }}" class="edit-input" required>
                </div>
                
                <div class="edit-form-input-container">
                    <label for="first_name" class="edit-label">Nombre</label>
                    <input type="text" name="first_name" value="{{ user.first_name }}" class="edit-input">
                </div>
            
                <div class="edit-form-input-container">
                    <label for="last_name" class="edit-label">Apellidos</label>
                    <input type="text" name="last_name" value="{{ user.last_name }}" class="edit-input">
                </div>
                
                <div class="edit-form-input-container">
                    <label for="email" class="edit-label">Correo electrónico</label>
                    <input type="email" name="email" value="{{ user.email }}" class="edit-input">
                </div>
                
                <div>
                    <h3 class="edit-error">{{ error }}</h3>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar datos</button>
            </form>

        {% endif %}

    </div>
    
{% endblock %}