

.upload-csv {
    margin:1%;
    padding:1%;
    text-align: center;
}

.upload-csv button{
    margin:10px;
}

.csv-description {
    margin: auto;
    text-align: center;
}

.csv-description p{
    text-align: justify;
}

.import-title-mobile {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    margin-top: 65px;
    padding: 0 20px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.open-modal-button {
    display: block;
    margin: 20px auto;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(49, 108, 244);
    border-color: rgb(49, 108, 244);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.288);
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
  
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
  
.modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 35px;
    border-radius: 8px;
    width: 80%;
    max-height: 50%;
    overflow-y: auto;
    font-size: 30px;
    text-align: justify;
    padding: 45px;
}

.close {
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 70px;
    color: #333;
    cursor: pointer;
}
  
.close:hover {
    color: red;
}

.example-mobile {
    align-self: center;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    width: 65%;
    background-color: rgb(240, 240, 240);
    margin-top: 1em;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: rgb(49, 108, 244);
    border: 2px solid rgb(49, 108, 244);
    color: white;
    border-radius: 15px;
}

.hidden-mobile {
    display: none;
}

.file-name-mobile {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.error-mobile {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

@media (orientation: landscape) {
    .import-title-mobile {
        font-size: 50px;
        margin-top: 35px;
    }
}